@import '../../styles/settings/_colors';
@import '../../styles/settings/_screens';

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: $red;
    padding: 10px;
    color: $white;
    h2 {
        font-size: 16px;
        margin: 0;
    }
    ul {
        list-style: none;
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: $xs) {
    #footer {
        padding: 20px;
        h2 {
            font-size: 24px;
            margin: 20px 0;
        }
        ul {
            font-size: 16px;
            margin-bottom: 16px;
        }
    }
}