<div id="login" class="container" fxLayoutAlign="center center">
  <div *ngIf="isError">{{ wordingAlert }}</div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <fieldset>
      <legend>Informations de connexion</legend>
      <div class="ligne_saisie">
        <div class="colonne_label">
          <label for="identifiant">Identifiant :&nbsp;</label>
        </div>
        <div class="colonne_saisie">
          <input type="text" name="identifiant" [formControl]="identifiantControl" />
        </div>
      </div>
      <div class="ligne_saisie">
        <div class="colonne_label">
          <label for="password">Mot de passe :&nbsp;</label>
        </div>
        <div class="colonne_saisie">
          <input type="password" name="password" [formControl]="passwordControl"/>
        </div>
      </div>
      <div class="barre_boutons">
        <button type="reset">Réinitialiser</button>
        <button type="submit">Connexion</button>
      </div>
    </fieldset>
  </form>
</div>