<div id="manage-article">

  <div routerLink="/new-article">Ajouter nouveau article</div>

  <div *ngFor="let article of articles">
    <div class="content-articles" [routerLink]="['/article', article.id]">
      <div>{{ article.category.name }}</div>
      <div>{{ article.marque }}</div>
      <div>{{ article.reference }}</div>
      <div>{{ article.image }}</div>
      <div>{{ article.description }}</div>
      <div *ngFor="let feature of article.features">
          <div>{{ feature.name }}: {{ feature.value }}</div>
      </div>
    </div>
  </div>
</div>