<div id="manage-article" class="container">

  <button routerLink="/new-article">Ajouter nouveau article</button>

  <table>
    <tr>
      <th>Catégorie</th>
      <th>Marque</th>
      <th>Référence</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let article of articles">
      <td>{{ article.category.name }}</td>
      <td>{{ article.marque }}</td>
      <td>{{ article.reference }}</td>
      <td>
        <span>
          <img [routerLink]="['/article', article.id]" src="/assets/img/pencil.png"/>
        </span>
        <span>
          <img (click)="deleteArticle(article.id)" src="/assets/img/garbage.png"/>
        </span>
      </td>
    </tr>
  </table>
</div>